<div class="page-header" id="load_owner" ng-controller="loadOwnerCtrl">
	<div class="bs-docs-section">
		<div id="myLoadList_alert"></div>
		<div class="row">
			<div class="col-lg-11">
				<div class="col-md-12">
					<div class="bs-component">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 class="panel-title">My Loads</h3>
							</div>
							<div class="panel-body">
								<div id="myLoadListMessage" ng-show="!myLoadList.listShow">
									<div id="myLoadList_alert" ></div>
								</div>
								<div ng-show="myLoadList.listShow" class="gridMaxStyle" ng-grid="myLoadList.gridOptions"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Remove Load Confirmation Modal -->
<script type="text/ng-template" id="myLoadRemoveModal.html">
	<!-- div ng-controller="TruckLoadModalCtrl" -->
	<div class="modal-header">
		<h3 class="modal-title">Remove Load Confirmation</h3>
	</div>
	<div class="modal-body">
		<div id="remove_load_alert"></div>
		<form name="removeLoadForm" id="removeLoadForm">
			<div class="form-group">
				<div class="row">
					<div class="col-md-6 col-md-offset-1">Do you want to remove this load?</div>
					<div class="col-md-12 col-md-offset-1">
						<table class="table">
							<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Material</th>
								<th>Load</th>
								<th>Pickup Date</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>{{loadToInactivate.source}}</td>
								<td>{{loadToInactivate.destination}}</td>
								<td>{{loadToInactivate.material}}</td>
								<td>{{loadToInactivate.load}}</td>
								<td>{{loadToInactivate.pickupDate}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<button type="button" ng-if="!showClose" class="btn btn-danger" ng-click="inActivateLoad(loadToInactivate)">Yes</button>
			<button type="button" ng-if="!showClose" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
		</form>
	</div>
	<div class="modal-footer" ng-if="showClose">
		<!-- button type="button" class="btn btn-danger">Yes</button -->
		<button class="btn btn-warning" ng-click="cancel()">Close</button>
	</div>
	<!-- /div -->
</script>
<!-- Load Details Modal -->
<script type="text/ng-template" id="myLoadDetailModal.html">
	<!-- div ng-controller="LoadDetailModalCtrl" -->
	<!-- div class="modal-dialog">
		<div class="modal-content" -->
	<div class="row">
		<div class="col-md-12">
			<div id="load_detail_alert"></div>
			<div class="col-md-4">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Owner Details</h4>
						<p class="list-group-item-text">
							<div class="form-group-sm">
								<label class="control-label" for="owner_name">Owner Name</label>
								<input class="form-control" type="text" disabled="" name="owner_name" id="owner_name" ng-model="loadModal.owner.name">
							</div>
							<div class="form-group-sm">
								<label class="control-label" for="owner_address">Address</label>
								<!-- input class="form-control" type="text" disabled="" id="owner_address" -->
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="owner_line1" id="owner_line1" ng-model="loadModal.owner.address.line1">
							</div>
							<div class="form-group-sm" ng-if="loadModal.owner.address.line2">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="owner_line2" id="owner_line2" ng-model="loadModal.owner.address.line2">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="owner_city" id="owner_city" ng-model="loadModal.owner.address.city">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="owner_state" id="owner_state" ng-model="loadModal.owner.address.state">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="owner_pincode" id="owner_pincode" ng-model="loadModal.owner.address.pincode">
							</div>
							<!-- CONTACT NO -->
							<div class="form-group-sm">
								<label class="control-label" for="owner_contact">Contact No</label>
								<input class="form-control" type="text" disabled="" name="owner_contact" id="owner_contact" ng-model="loadModal.owner.contact">
							</div>
						</p>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Company Details</h4>
						<p class="list-group-item-text">
							<div class="form-group-sm">
								<label class="control-label" for="company_name">Company Name</label>
								<input class="form-control" type="text" disabled="" name="company_name" id="company_name" ng-model="loadModal.company.name">
							</div>
							<!-- Address -->
							<div class="form-group-sm">
								<label class="control-label" for="company_address">Address</label>
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="company_line1" id="company_line1" ng-model="loadModal.company.address.line1">
							</div>
							<div class="form-group-sm" ng-if="loadModal.company.address.line2">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="company_line2" id="company_line2" ng-model="loadModal.company.address.line2">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="company_city" id="company_city" ng-model="loadModal.company.address.city">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="company_state" id="company_state" ng-model="loadModal.company.address.state">
							</div>
							<div class="form-group-sm">
								<!-- label class="control-label" for="owner_line1">Last Name</label -->
								<input class="form-control" type="text" disabled="" name="company_pincode" id="company_pincode" ng-model="loadModal.company.address.pincode">
							</div>
							<!-- CONTACTNO -->
							<div class="form-group-sm">
								<label class="control-label" for="company_contact">Contact No</label>
								<input class="form-control" type="text" disabled="" name="company_contact" id="company_contact" ng-model="loadModal.company.contact">
							</div>
						</p>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Load Details</h4>
						<p class="list-group-item-text">
							<div class="form-group-sm">
								<label class="control-label" for="quantity">Quantity</label>
								<input class="form-control" type="text" disabled="" name="quantity" id="quantity" ng-model="loadModal.load.quantity"> &nbsp; Tons
							</div>
							<div class="form-group-sm">
								<label class="control-label" for="quantity">Material</label>
								<input class="form-control" type="text" disabled="" name="material" id="material" ng-model="loadModal.load.material.type">
							</div>
							<div class="form-group-sm">
								<label class="control-label" for="pickup_city">Pickup City</label>
								<input class="form-control" type="text" disabled="" name="pickup_city" id="pickup_city" ng-model="loadModal.load.pickup.address.city">
							</div>
							<div class="form-group-sm">
								<label class="control-label" for="pickup_city">Delivery City</label>
								<input class="form-control" type="text" disabled="" name="delivery_city" id="delivery_city" ng-model="loadModal.load.delivery.address.city">
							</div>
						</p>
					</a>
				</div>
			</div>

		</div>
	</div>
</script>
<script src="load_owner.js"></script>