<div class="col-md-12" id="loadManagePage" ng-controller="loadManageCtrl">

	<!-- PAGE HEADER -->
	<div id="page-header" class="page-header">
		<h3>{{page_header}}</h3>
		<div id="goto_home" class="nav nav-pills">
			<!-- a href="/TransEarth/truck_owner_home" class="btn btn-primary btn-sm">Back to Home</a -->
			<!-- a href="#" ng-click="gotoHome()" class="pull-right" ><span class="label label-info">Go Back Home</span></a -->
			<a href="#" ng-click="gotoHome()" class="pull-right" ><span class="badge">Go Back Home</span></a>
		</div>
	</div>

	<div id="manage_load_alert" ng-show="loadProcess.indicator.showAlert"></div>

	<div id="goto_home" ng-show="loadProcess.indicator.saved"><a href="/TransEarth">GO BACK TO HOME</a></div>

	<!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
	<form id="loadForm" name="loadForm" ng-submit="submitForm()" novalidate>
		<div class="well bs-component" id="loadManagePanel">

			<div class="row">
				<!-- Owner Details -->
				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h5>Owner Details</h5>
						</div>
						<div class="panel-body">
							<fieldset>
								<!-- FIRST NAME -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.first_name.$invalid,
							 				'has-success' : !(loadForm.first_name.$invalid),
					 						'has-feedback' : loadForm.first_name.$invalid}">
									<label class="col-lg-3 control-label">First Name</label>
									<div class="col-lg-9">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="first_name" id="first_name" ng-model="load.owner.first_name" placeholder="Enter Owner First Name" ng-minlength="5" ng-maxlength="35" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.first_name.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.first_name.$invalid),
					 						'has-feedback' : true}"
										   for="first_name">
										</i>
										<div ng-if="loadForm.first_name.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.first_name.$invalid,
							 				'has-success' : !(loadForm.first_name.$invalid),
					 						'has-feedback' : loadForm.first_name.$invalid}"
											 for="first_name">First Name is mandatory and should be between 5 and 35 characters
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>
								<!-- LAST NAME -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.last_name.$invalid,
							 				'has-success' : !(loadForm.last_name.$invalid),
					 						'has-feedback' : loadForm.last_name.$invalid}">
									<label class="col-lg-3 control-label">Last Name</label>
									<div class="col-lg-9">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="last_name" id="last_name" ng-model="load.owner.last_name" placeholder="Enter Last Name" ng-minlength="1" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.last_name.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.last_name.$invalid),
					 						'has-feedback' : loadForm.last_name.$valid}"
										   for="last_name">
										</i>
										<div ng-if="loadForm.last_name.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.last_name.$invalid,
							 				'has-success' : !(loadForm.last_name.$invalid),
					 						'has-feedback' : loadForm.last_name.$invalid}"
											 for="last_name">Last Name is mandatory and should be have atlease 1 character
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>
								<!-- Address -->
								<div class="form-group-sm">
									<label class="col-lg-3 strong">Address</label>
								</div>
								<!-- Address Line 1 -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_line1.$invalid,
							 				'has-success' : !(loadForm.owner_line1.$invalid),
					 						'has-feedback' : loadForm.owner_line1.$invalid}">
									<!-- label class="col-lg-3 control-label">Address Line 1</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" name="owner_line1" id="owner_line1" ng-model="load.owner.address.line1" placeholder="Enter Address Line1" ng-minlength="10" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_line1.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.owner_line1.$invalid),
					 						'has-feedback' : loadForm.owner_line1.$valid}"
										   for="owner_line1">
										</i>
										<div ng-if="loadForm.owner_line1.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_line1.$invalid,
							 				'has-success' : !(loadForm.owner_line1.$invalid),
					 						'has-feedback' : loadForm.owner_line1.$invalid}"
											 for="owner_line1">Line 1 is mandatory and should be of minimum 10 characters
										</div>
									</div>
								</div>

								<!-- Address Line 2 -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_line2.$invalid,
							 				'has-success' : !(loadForm.owner_line2.$invalid),
					 						'has-feedback' : loadForm.owner_line2.$invalid}">
									<!-- label class="col-lg-3 control-label">Address Line 2</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" name="owner_line2" id="owner_line2" ng-model="load.owner.address.line2" placeholder="Enter Address Line2">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_line2.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.owner_line2.$invalid),
					 						'has-feedback' : loadForm.owner_line2.$valid}"
										   for="owner_line2">
										</i>
										<div ng-if="loadForm.owner_line2.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_line2.$invalid,
							 				'has-success' : !(loadForm.owner_line2.$invalid),
					 						'has-feedback' : loadForm.owner_line2.$invalid}"
											 for="owner_line2">Line 2 is mandatory and should be of minimum 10 characters
										</div>
									</div>
								</div>

								<!-- CITY -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_city.$invalid,
										'has-success' : !(loadForm.owner_city.$invalid),
										'has-feedback' : loadForm.owner_city.$invalid}">
									<!-- label class="col-lg-3 control-label">City</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" name="owner_city" id="owner_city" ng-model="load.owner.address.city" placeholder="Enter City" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_city.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.owner_city.$invalid),
										'has-feedback' : loadForm.owner_city.$valid}"
										   for="owner_city">
										</i>
										<div ng-if="loadForm.owner_city.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_city.$invalid,
										'has-success' : !(loadForm.owner_city.$invalid),
										'has-feedback' : loadForm.owner_city.$invalid}"
											 for="owner_city">City is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.city.$invalid}}</pre>
                                    <pre>{{userForm.city.$error}}</pre -->
								</div>

								<!-- STATE -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_state.$invalid,
										'has-success' : !(loadForm.owner_state.$invalid),
										'has-feedback' : loadForm.owner_state.$invalid}">
									<!-- label class="col-lg-3 control-label">State</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" name="owner_state" id="owner_state" ng-model="load.owner.address.state" placeholder="Enter State" ng-minlength="1" ng-maxlength="35" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_state.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.owner_state.$invalid),
										'has-feedback' : loadForm.owner_state.$valid}"
										   for="owner_state">
										</i>
										<div ng-if="loadForm.owner_state.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_state.$invalid,
										'has-success' : !(loadForm.owner_state.$invalid),
										'has-feedback' : loadForm.owner_state.$invalid}"
											 for="owner_state">State is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>

								<!-- PINCODE -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_pincode.$invalid,
										'has-success' : !(loadForm.owner_pincode.$invalid),
										'has-feedback' : loadForm.owner_pincode.$invalid}">
									<!-- label class="col-lg-3 control-label">PIN</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="number" numbers-only="numbers-only" class="form-control" name="owner_pincode" id="owner_pincode" ng-model="load.owner.address.pincode" placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_pincode.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.owner_pincode.$invalid),
										'has-feedback' : loadForm.owner_pincode.$valid}"
										   for="owner_pincode">
										</i>
										<div ng-if="loadForm.owner_pincode.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_pincode.$invalid,
										'has-success' : !(loadForm.owner_pincode.$invalid),
										'has-feedback' : loadForm.owner_pincode.$invalid}"
											 for="owner_pincode">Pincode is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>

								<!-- CONTACTNO -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.owner_contactno.$invalid,
										'has-success' : !(loadForm.owner_contactno.$invalid),
										'has-feedback' : loadForm.owner_contactno.$invalid}">
									<!-- label class="col-lg-3 control-label">Contact Number</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-mobile fa-2"></i></span>
											<input type="number" numbers-only="numbers-only" class="form-control" name="owner_contactno" id="owner_contactno" ng-model="load.owner.contact" placeholder="Enter Contact Number" ng-minlength="10" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.owner_contactno.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.owner_contactno.$invalid),
										'has-feedback' : loadForm.owner_contactno.$valid}"
										   for="owner_contactno">
										</i>
										<div ng-if="loadForm.owner_contactno.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.owner_contactno.$invalid,
										'has-success' : !(loadForm.owner_contactno.$invalid),
										'has-feedback' : loadForm.owner_contactno.$invalid}"
											 for="owner_contactno">Contact Number is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<!-- Company Details -->
				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h5>Company Details</h5>
						</div>
						<div class="panel-body">
							<fieldset>
								<!-- Company NAME -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_name.$invalid,
							 				'has-success' : !(loadForm.company_name.$invalid),
					 						'has-feedback' : loadForm.company_name.$invalid}">
									<label class="col-lg-3 control-label">Company Name</label>
									<div class="col-lg-9">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="company_name" id="company_name" ng-model="load.company.name" placeholder="Enter Company Name" ng-minlength="5" ng-maxlength="35" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_name.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.company_name.$invalid),
					 						'has-feedback' : loadForm.company_name.$valid}"
										   for="company_name">
										</i>
										<div ng-if="loadForm.company_name.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_name.$invalid,
							 				'has-success' : !(loadForm.company_name.$invalid),
					 						'has-feedback' : loadForm.company_name.$invalid}"
											 for="company_name">Company Name is mandatory and should be between 5 and 35 characters
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>

								<!-- Indicator for same address and mobile -->
								<div class="form-group-sm">
									<div class="col-md-offset-3 col-md-9">
										<div class="input-group">
											<input type="checkbox"
												   ng-disabled="canDisableSameAddress()"
												   ng-value="false" name="same_address" id="same_address" ng-model="disableAddress"/>
											<label>&nbsp;Is Address same as Owner?</label>
											<!--pre>{{load.same_address}}</pre -->
										</div>
									</div>
								</div>
								<!-- Address -->
								<div class="form-group-sm">
									<label class="col-lg-12 strong">Address</label>
								</div>
								<!-- div class="form-group-sm">
									<label class="col-lg-3 control-label"></label>
									<div class="col-lg-9">
										<div class="input-group">
											<input type="checkbox" ng-click="" class="form-control" name="same_address" id="same_address" ng-model="load.same_address">
										</div>
									</div>
								</div -->

								<!-- Address Line 1 -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_line1.$invalid,
							 				'has-success' : !(loadForm.company_line1.$invalid),
					 						'has-feedback' : loadForm.company_line1.$invalid}">
									<!-- label class="col-lg-3 control-label">Address Line 1</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" ng-disabled="disableAddress" name="company_line1" id="company_line1" ng-model="load.company.address.line1" placeholder="Enter Address Line1" ng-minlength="10" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_line1.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.company_line1.$invalid),
					 						'has-feedback' : loadForm.company_line1.$valid}"
										   for="company_line1">
										</i>
										<div ng-if="loadForm.company_line1.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_line1.$invalid,
							 				'has-success' : !(loadForm.company_line1.$invalid),
					 						'has-feedback' : loadForm.company_line1.$invalid}"
											 for="company_line1">Line 1 is mandatory and should be of minimum 10 characters
										</div>
									</div>
								</div>

								<!-- Address Line 2 -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_line2.$invalid,
							 				'has-success' : !(loadForm.company_line2.$invalid),
					 						'has-feedback' : loadForm.company_line2.$invalid}">
									<!-- label class="col-lg-3 control-label">Address Line 2</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" ng-disabled="disableAddress" name="company_line2" id="company_line2" ng-model="load.company.address.line2" placeholder="Enter Address Line2">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_line2.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.company_line2.$invalid),
					 						'has-feedback' : loadForm.company_line2.$valid}"
										   for="company_line2">
										</i>
										<div ng-if="loadForm.company_line2.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_line2.$invalid,
							 				'has-success' : !(loadForm.company_line2.$invalid),
					 						'has-feedback' : loadForm.company_line2.$invalid}"
											 for="company_line2">Line 2 is mandatory and should be of minimum 10 characters
										</div>
									</div>
								</div>

								<!-- CITY -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_city.$invalid,
										'has-success' : !(loadForm.company_city.$invalid),
										'has-feedback' : loadForm.company_city.$invalid}">
									<!-- label class="col-lg-3 control-label">City</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" ng-disabled="disableAddress" name="company_city" id="company_city" ng-model="load.company.address.city" placeholder="Enter City" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_city.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.company_city.$invalid),
										'has-feedback' : loadForm.company_city.$valid}"
										   for="company_city">
										</i>
										<div ng-if="loadForm.company_city.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_city.$invalid,
										'has-success' : !(loadForm.company_city.$invalid),
										'has-feedback' : loadForm.company_city.$invalid}"
											 for="company_city">City is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.city.$invalid}}</pre>
                                    <pre>{{userForm.city.$error}}</pre -->
								</div>

								<!-- STATE -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_state.$invalid,
										'has-success' : !(loadForm.company_state.$invalid),
										'has-feedback' : loadForm.company_state.$invalid}">
									<!-- label class="col-lg-3 control-label">State</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="text" class="form-control" ng-disabled="disableAddress" name="company_state" id="company_state" ng-model="load.company.address.state" placeholder="Enter State" ng-minlength="1" ng-maxlength="35" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_state.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.company_state.$invalid),
										'has-feedback' : loadForm.company_state.$valid}"
										   for="company_state">
										</i>
										<div ng-if="loadForm.company_state.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_state.$invalid,
										'has-success' : !(loadForm.company_state.$invalid),
										'has-feedback' : loadForm.company_state.$invalid}"
											 for="company_state">State is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>

								<!-- PINCODE -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_pincode.$invalid,
										'has-success' : !(loadForm.company_pincode.$invalid),
										'has-feedback' : loadForm.company_pincode.$invalid}">
									<!-- label class="col-lg-3 control-label">PIN</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
											<input type="number" numbers-only="numbers-only" ng-disabled="disableAddress" class="form-control" name="company_pincode" id="company_pincode" ng-model="load.company.address.pincode" placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_pincode.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.company_pincode.$invalid),
										'has-feedback' : loadForm.company_pincode.$valid}"
										   for="company_pincode">
										</i>
										<div ng-if="loadForm.company_pincode.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_pincode.$invalid,
										'has-success' : !(loadForm.company_pincode.$invalid),
										'has-feedback' : loadForm.company_pincode.$invalid}"
											 for="company_pincode">Pincode is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>

								<div class="form-group-sm">
									<div class="col-md-offset-3 col-md-9">
										<div class="input-group">
											<input type="checkbox"
												   ng-disabled="canDisableSameContact()"
												   ng-value="false" name="same_contact" id="same_contact" ng-model="disableContact">
											<label>&nbsp;Is Contact same as Owner?</label>
											<!-- pre>{{load.same_contact}}</pre -->
										</div>
									</div>
								</div>

								<!-- CONTACTNO -->
								<div class="form-group-sm"
									 ng-class="{ 'has-error' : loadForm.company_contactno.$invalid,
										'has-success' : !(loadForm.company_contactno.$invalid),
										'has-feedback' : loadForm.company_contactno.$invalid}">
									<!-- label class="col-lg-3 control-label">Contact Number</label -->
									<div class="col-lg-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-mobile fa-2"></i></span>
											<input type="number" numbers-only="numbers-only" ng-disabled="disableContact" class="form-control" name="company_contactno" id="company_contactno" ng-model="load.company.contact" placeholder="Enter Contact Number" ng-minlength="10" ng-required="true">
										</div>
										<i class="form-control-feedback"
										   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.company_contactno.$invalid,
										'glyphicon glyphicon-ok' : !(loadForm.company_contactno.$invalid),
										'has-feedback' : loadForm.company_contactno.$valid}"
										   for="company_contactno">
										</i>
										<div ng-if="loadForm.company_contactno.$invalid"
											 class="help-block"
											 ng-class="{ 'has-error' : loadForm.company_contactno.$invalid,
										'has-success' : !(loadForm.company_contactno.$invalid),
										'has-feedback' : loadForm.company_contactno.$invalid}"
											 for="company_contactno">Contact Number is mandatory
										</div>
									</div>
									<!-- pre>{{userForm.user_type.$valid}}</pre -->
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>

			<!-- load Details -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h5>Load Details</h5>
						</div>
						<div class="panel-body">
							<fieldset>
								<!-- Load Quantity -->
								<div class="row">
									<div class="form-group-sm col-lg-offset-1"
										 ng-class="{ 'has-error' : loadForm.load_quantity.$invalid,
							 				'has-success' : !(loadForm.load_quantity.$invalid),
					 						'has-feedback' : loadForm.load_quantity.$invalid}">
										<label class="col-lg-2 control-label">Quantity/ Weight</label>
										<div class="col-lg-2">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-square"></i></span>
												<input type="number" class="form-control" name="load_quantity" id="load_quantity" ng-model="load.load.quantity" ng-minlength="3" ng-required="true" placeholder="Enter Load Weight">
											</div>
											<i class="form-control-feedback"
											   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.load_quantity.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.load_quantity.$invalid),
					 						'has-feedback' : loadForm.load_quantity.$valid}"
											   for="load_quantity">
											</i>
											<div ng-if="loadForm.load_quantity.$invalid"
												 class="help-block"
												 ng-class="{ 'has-error' : loadForm.load_quantity.$invalid,
							 				'has-success' : !(loadForm.load_quantity.$invalid),
					 						'has-feedback' : loadForm.load_quantity.$invalid}"
												 for="load_quantity">Please enter the Load Weight (considerconsider above 99 Ton)
											</div>
										</div>
									</div>
								</div>

								<!-- Material Type -->
								<div class="row">
									<div class="form-group-sm col-lg-offset-1"
										 ng-class="{ 'has-error' : loadForm.materialType.$invalid,
							 				'has-success' : !(loadForm.materialType.$invalid),
					 						'has-feedback' : loadForm.materialType.$invalid}">
										<label class="col-lg-2 control-label">Material</label>
										<div class="col-lg-8">
											<!-- div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
                                                <input type="text" class="form-control" name="material" id="material" ng-model="load.details.material" placeholder="Enter Material" ng-minlength="1" ng-required="true">
                                            </div -->
											<div class="input-group">
												<!-- span class="input-group-addon"><i class="fa fa-exchange"></i></span -->
												<!-- select id="materialType" name="materialType"
														ng-model="load.load.material.type"  ng-required="true"
														class="selectpicker form-control minimize" data-dropup-auto="false" data-size="5">
													<option value="">Select one</option>
												</select -->
												<div class="radio col-lg-2" ng-repeat="item in materialTypeList">
													<label for="{{item}}">
														<input type="radio" name="{{item}}" id="{{item}}" ng-value="item" ng-model="load.load.material.type" ng-required="!load.load.material.type">{{item}}</input>
													</label>
												</div>
												<!-- span class="glyphicon error" ng-show="truckListForm.daterange.$error.required">*</span -->
											</div>
											<!-- i class="form-control-feedback"
											   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.materialType.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.materialType.$invalid),
					 						'has-feedback' : loadForm.materialType.$valid}"
											   for="materialType">
											</i>
											<div ng-if="loadForm.materialType.$invalid"
												 class="help-block"
												 ng-class="{ 'has-error' : loadForm.materialType.$invalid,
							 				'has-success' : !(loadForm.materialType.$invalid),
					 						'has-feedback' : loadForm.materialType.$invalid}"
												 for="materialType">Material Type is mandatory
											</div -->
										</div>
									</div>
									<div class="form-group-sm col-lg-offset-3"
										 ng-class="{ 'has-error' : loadForm.materialTypeDesc.$invalid,
							 				'has-success' : !(loadForm.materialTypeDesc.$invalid),
					 						'has-feedback' : loadForm.materialTypeDesc.$invalid}">
										<div class="col-lg-3" ng-if="load.load.material.type=='Others'">
											<div class="input-group">
												<input type="text" class="form-control" name="materialTypeDesc" id="materialTypeDesc" ng-model="load.load.material.typeDescription" ng-minlength="1" ng-required="true" placeholder="Enter Material Type">
											</div>
											<i class="form-control-feedback"
											   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.materialTypeDesc.$invalid,
							 				'glyphicon glyphicon-ok' : !(loadForm.materialTypeDesc.$invalid),
					 						'has-feedback' : loadForm.materialTypeDesc.$valid}"
											   for="materialTypeDesc">
											</i>
											<div ng-if="loadForm.materialTypeDesc.$invalid"
												 class="help-block"
												 ng-class="{ 'has-error' : loadForm.materialTypeDesc.$invalid,
							 				'has-success' : !(loadForm.materialTypeDesc.$invalid),
					 						'has-feedback' : loadForm.materialTypeDesc.$invalid}"
												 for="materialTypeDesc">Material Type is mandatory
											</div>
										</div>
									</div>
								</div>

								<!-- Pickup and delivery -->
								<div class="row">
									<!-- Pickup -->
									<div class="col-md-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5>Pickup</h5>
											</div>
											<div class="panel-body">
												<fieldset>
													<!-- Pickup Date -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_date.$invalid,
							 										'has-success' : !(loadForm.pickup_date.$invalid),
					 												'has-feedback' : loadForm.pickup_date.$invalid}">
														<label class="col-lg-3 control-label">Date</label>
														<div class="col-lg-9">
															<div class="input-group">
																<span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-import"></i></span>
																<input class="form-control input-sm" type="text" placeholder="Pickup Date" id="pickupDaterange" name="pickupDaterange" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="load.load.pickup.date" is-open="pickup.opened" datepicker-options="pickup.dateOptions" ng-required="true" close-text="Close" />
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_date.$invalid,
							 												'glyphicon glyphicon-ok' : !(loadForm.pickup_date.$invalid),
					 														'has-feedback' : loadForm.pickup_date.$valid}"
															   for="pickup_date">
															</i>
															<div ng-if="loadForm.pickup_date.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_date.$invalid,
							 													'has-success' : !(loadForm.pickup_date.$invalid),
					 															'has-feedback' : loadForm.pickup_date.$invalid}"
																 for="pickup_date">Pickup Date is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>
													<!-- Address -->
													<div class="form-group-sm">
														<label class="col-lg-3 strong">Address</label>
													</div>
													<!-- Pickup Address Line 1 -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_line1.$invalid,
							 											'has-success' : !(loadForm.pickup_line1.$invalid),
					 													'has-feedback' : loadForm.pickup_line1.$invalid}">
														<!-- label class="col-lg-3 control-label">Address Line 1</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="pickup_line1" id="pickup_line1" ng-model="load.load.pickup.address.line1" placeholder="Enter Pickup Address Line1" ng-minlength="10" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_line1.$invalid,
							 											'glyphicon glyphicon-ok' : !(loadForm.pickup_line1.$invalid),
					 													'has-feedback' : loadForm.pickup_line1.$valid}"
															   for="pickup_line1">
															</i>
															<div ng-if="loadForm.pickup_line1.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_line1.$invalid,
							 											'has-success' : !(loadForm.pickup_line1.$invalid),
					 													'has-feedback' : loadForm.pickup_line1.$invalid}"
																 for="pickup_line1">Line 1 is mandatory and should be of minimum 10 characters
															</div>
														</div>
													</div>

													<!-- Address Line 2 -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_line2.$invalid,
							 											'has-success' : !(loadForm.pickup_line2.$invalid),
					 													'has-feedback' : loadForm.pickup_line2.$invalid}">
														<!-- label class="col-lg-3 control-label">Address Line 2</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="pickup_line2" id="pickup_line2" ng-model="load.load.pickup.address.line2" placeholder="Enter Address Line2">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_line2.$invalid,
							 											'glyphicon glyphicon-ok' : !(loadForm.pickup_line2.$invalid),
					 													'has-feedback' : loadForm.pickup_line2.$valid}"
															   for="pickup_line2">
															</i>
															<div ng-if="loadForm.pickup_line2.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_line2.$invalid,
							 											'has-success' : !(loadForm.pickup_line2.$invalid),
					 													'has-feedback' : loadForm.pickup_line2.$invalid}"
																 for="pickup_line2">Line 2 is mandatory and should be of minimum 10 characters
															</div>
														</div>
													</div>

													<!-- CITY -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_city.$invalid,
																	'has-success' : !(loadForm.pickup_city.$invalid),
																	'has-feedback' : loadForm.pickup_city.$invalid}">
														<!-- label class="col-lg-3 control-label">City</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="pickup_city" id="pickup_city" ng-model="load.load.pickup.address.city" placeholder="Enter City" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_city.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.pickup_city.$invalid),
																	'has-feedback' : loadForm.pickup_city.$valid}"
															   for="pickup_city">
															</i>
															<div ng-if="loadForm.pickup_city.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_city.$invalid,
																	'has-success' : !(loadForm.pickup_city.$invalid),
																	'has-feedback' : loadForm.pickup_city.$invalid}"
																 for="pickup_city">City is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.city.$invalid}}</pre>
                                                        <pre>{{userForm.city.$error}}</pre -->
													</div>

													<!-- STATE -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_state.$invalid,
																	'has-success' : !(loadForm.pickup_state.$invalid),
																	'has-feedback' : loadForm.pickup_state.$invalid}">
														<!-- label class="col-lg-3 control-label">State</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="pickup_state" id="pickup_state" ng-model="load.load.pickup.address.state" placeholder="Enter State" ng-minlength="1" ng-maxlength="35" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_state.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.pickup_state.$invalid),
																	'has-feedback' : loadForm.pickup_state.$valid}"
															   for="pickup_state">
															</i>
															<div ng-if="loadForm.pickup_state.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_state.$invalid,
																	'has-success' : !(loadForm.pickup_state.$invalid),
																	'has-feedback' : loadForm.pickup_state.$invalid}"
																 for="pickup_state">State is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>

													<!-- PINCODE -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_pincode.$invalid,
																	'has-success' : !(loadForm.pickup_pincode.$invalid),
																	'has-feedback' : loadForm.pickup_pincode.$invalid}">
														<!-- label class="col-lg-3 control-label">PIN</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="number" numbers-only="numbers-only" class="form-control" name="pickup_pincode" id="pickup_pincode" ng-model="load.load.pickup.address.pincode" placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_pincode.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.pickup_pincode.$invalid),
																	'has-feedback' : loadForm.pickup_pincode.$valid}"
															   for="pickup_pincode">
															</i>
															<div ng-if="loadForm.pickup_pincode.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_pincode.$invalid,
																	'has-success' : !(loadForm.pickup_pincode.$invalid),
																	'has-feedback' : loadForm.pickup_pincode.$invalid}"
																 for="pickup_pincode">Pincode is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>

													<!-- CONTACTNO -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.pickup_contactno.$invalid,
																	'has-success' : !(loadForm.pickup_contactno.$invalid),
																	'has-feedback' : loadForm.pickup_contactno.$invalid}">
														<!-- label class="col-lg-3 control-label">Contact Number</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-mobile fa-2"></i></span>
																<input type="number" numbers-only="numbers-only" class="form-control" name="pickup_contactno" id="pickup_contactno" ng-model="load.load.pickup.contact" placeholder="Enter Contact Number" ng-minlength="10" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.pickup_contactno.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.pickup_contactno.$invalid),
																	'has-feedback' : loadForm.pickup_contactno.$valid}"
															   for="pickup_contactno">
															</i>
															<div ng-if="loadForm.pickup_contactno.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.pickup_contactno.$invalid,
																	'has-success' : !(loadForm.pickup_contactno.$invalid),
																	'has-feedback' : loadForm.pickup_contactno.$invalid}"
																 for="pickup_contactno">Contact Number is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>
												</fieldset>
											</div>
										</div>
									</div>
									<!-- Delivery -->
									<div class="col-md-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5>Delivery</h5>
											</div>
											<div class="panel-body">
												<fieldset>
													<!-- delivery Date -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_date.$invalid,
														 			'has-error' : loadForm.delivery_date.$error.required,
							 										'has-success' : !(loadForm.delivery_date.$invalid),
					 												'has-feedback' : loadForm.delivery_date.$invalid}">
														<label class="col-lg-3 control-label">Date</label>
														<div class="col-lg-9">
															<div class="input-group">
																<span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-import"></i></span>
																<input class="form-control input-sm" type="text" placeholder="Delivery Date" id="deliveryDaterange" name="deliveryDaterange" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="load.load.delivery.date" is-open="delivery.opened" datepicker-options="delivery.dateOptions" close-text="Close" required/>
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_date.$invalid,
							 												'glyphicon glyphicon-ok' : !(loadForm.delivery_date.$invalid),
					 														'has-feedback' : loadForm.delivery_date.$valid}"
															   for="delivery_date">
															</i>
															<div ng-if="loadForm.delivery_date.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_date.$invalid,
							 													'has-success' : !(loadForm.delivery_date.$invalid),
					 															'has-feedback' : loadForm.delivery_date.$invalid}"
																 for="delivery_date">delivery Date is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>
													<!-- Address -->
													<div class="form-group-sm">
														<label class="col-lg-3 strong">Address</label>
													</div>
													<!-- delivery Address Line 1 -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_line1.$invalid,
							 											'has-success' : !(loadForm.delivery_line1.$invalid),
					 													'has-feedback' : loadForm.delivery_line1.$invalid}">
														<!-- label class="col-lg-3 control-label">Address Line 1</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="delivery_line1" id="delivery_line1" ng-model="load.load.delivery.address.line1" placeholder="Enter delivery Address Line1" ng-minlength="10" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_line1.$invalid,
							 											'glyphicon glyphicon-ok' : !(loadForm.delivery_line1.$invalid),
					 													'has-feedback' : loadForm.delivery_line1.$valid}"
															   for="delivery_line1">
															</i>
															<div ng-if="loadForm.delivery_line1.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_line1.$invalid,
							 											'has-success' : !(loadForm.delivery_line1.$invalid),
					 													'has-feedback' : loadForm.delivery_line1.$invalid}"
																 for="delivery_line1">Line 1 is mandatory and should be of minimum 10 characters
															</div>
														</div>
													</div>

													<!-- Address Line 2 -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_line2.$invalid,
							 											'has-success' : !(loadForm.delivery_line2.$invalid),
					 													'has-feedback' : loadForm.delivery_line2.$invalid}">
														<!-- label class="col-lg-3 control-label">Address Line 2</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="delivery_line2" id="delivery_line2" ng-model="load.load.delivery.address.line2" placeholder="Enter Address Line2">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_line2.$invalid,
							 											'glyphicon glyphicon-ok' : !(loadForm.delivery_line2.$invalid),
					 													'has-feedback' : loadForm.delivery_line2.$valid}"
															   for="delivery_line2">
															</i>
															<div ng-if="loadForm.delivery_line2.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_line2.$invalid,
							 											'has-success' : !(loadForm.delivery_line2.$invalid),
					 													'has-feedback' : loadForm.delivery_line2.$invalid}"
																 for="delivery_line2">Line 2 is mandatory and should be of minimum 10 characters
															</div>
														</div>
													</div>

													<!-- CITY -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_city.$invalid,
																	'has-success' : !(loadForm.delivery_city.$invalid),
																	'has-feedback' : loadForm.delivery_city.$invalid}">
														<!-- label class="col-lg-3 control-label">City</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="delivery_city" id="delivery_city" ng-model="load.load.delivery.address.city" placeholder="Enter City" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_city.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.delivery_city.$invalid),
																	'has-feedback' : loadForm.delivery_city.$valid}"
															   for="delivery_city">
															</i>
															<div ng-if="loadForm.delivery_city.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_city.$invalid,
																	'has-success' : !(loadForm.delivery_city.$invalid),
																	'has-feedback' : loadForm.delivery_city.$invalid}"
																 for="delivery_city">City is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.city.$invalid}}</pre>
                                                        <pre>{{userForm.city.$error}}</pre -->
													</div>

													<!-- STATE -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_state.$invalid,
																	'has-success' : !(loadForm.delivery_state.$invalid),
																	'has-feedback' : loadForm.delivery_state.$invalid}">
														<!-- label class="col-lg-3 control-label">State</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="text" class="form-control" name="delivery_state" id="delivery_state" ng-model="load.load.delivery.address.state" placeholder="Enter State" ng-minlength="1" ng-maxlength="35" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_state.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.delivery_state.$invalid),
																	'has-feedback' : loadForm.delivery_state.$valid}"
															   for="delivery_state">
															</i>
															<div ng-if="loadForm.delivery_state.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_state.$invalid,
																	'has-success' : !(loadForm.delivery_state.$invalid),
																	'has-feedback' : loadForm.delivery_state.$invalid}"
																 for="delivery_state">State is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>

													<!-- PINCODE -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_pincode.$invalid,
																	'has-success' : !(loadForm.delivery_pincode.$invalid),
																	'has-feedback' : loadForm.delivery_pincode.$invalid}">
														<!-- label class="col-lg-3 control-label">PIN</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-map-marker fa-2"></i></span>
																<input type="number" numbers-only="numbers-only" class="form-control" name="delivery_pincode" id="delivery_pincode" ng-model="load.load.delivery.address.pincode" placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_pincode.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.delivery_pincode.$invalid),
																	'has-feedback' : loadForm.delivery_pincode.$valid}"
															   for="delivery_pincode">
															</i>
															<div ng-if="loadForm.delivery_pincode.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_pincode.$invalid,
																	'has-success' : !(loadForm.delivery_pincode.$invalid),
																	'has-feedback' : loadForm.delivery_pincode.$invalid}"
																 for="delivery_pincode">Pincode is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>

													<!-- CONTACTNO -->
													<div class="form-group-sm"
														 ng-class="{ 'has-error' : loadForm.delivery_contactno.$invalid,
																	'has-success' : !(loadForm.delivery_contactno.$invalid),
																	'has-feedback' : loadForm.delivery_contactno.$invalid}">
														<!-- label class="col-lg-3 control-label">Contact Number</label -->
														<div class="col-lg-12">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-mobile fa-2"></i></span>
																<input type="number" numbers-only="numbers-only" class="form-control" name="delivery_contactno" id="delivery_contactno" ng-model="load.load.delivery.contact" placeholder="Enter Contact Number" ng-minlength="10" ng-required="true">
															</div>
															<i class="form-control-feedback"
															   ng-class="{ 'glyphicon glyphicon-remove' : loadForm.delivery_contactno.$invalid,
																	'glyphicon glyphicon-ok' : !(loadForm.delivery_contactno.$invalid),
																	'has-feedback' : loadForm.delivery_contactno.$valid}"
															   for="delivery_contactno">
															</i>
															<div ng-if="loadForm.delivery_contactno.$invalid"
																 class="help-block"
																 ng-class="{ 'has-error' : loadForm.delivery_contactno.$invalid,
																	'has-success' : !(loadForm.delivery_contactno.$invalid),
																	'has-feedback' : loadForm.delivery_contactno.$invalid}"
																 for="delivery_contactno">Contact Number is mandatory
															</div>
														</div>
														<!-- pre>{{userForm.user_type.$valid}}</pre -->
													</div>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</fieldset>

							<!-- TERMS & CONDITIONS -->
							<!-- fieldset ng-if="loadForm.delivery_contactno.$valid" -->
							<fieldset ng-if="loadForm.delivery_contactno.$valid">
								<!-- legend> Terms and Mailing </legend>
								<div class="form-group-sm">
									<div class="col-md-offset-3 col-md-9">
										<div class="row">
											<input type="checkbox" value="" name="terms" ng-model="loadProcess.indicator.tncAccepted" ng-required="true" />
											<label>I agree with the
												<a data-toggle="modal" href="#tcModal">Terms and Conditions</a>
											</label>
										</div>
									</div>
								</div -->
								<div class="form-group-sm">
									<div class="col-md-offset-3 col-md-3">
										<!-- button type="submit" class="btn btn-success btn-sm" ng-model="button" ng-disabled="!loadProcess.indicator.tncAccepted">Add</button -->
										<button type="submit" class="btn btn-success btn-sm" ng-model="button">{{page_header}}</button>
									</div>
									<div class="col-md-4">
										<button type="button" class="btn btn-danger btn-sm" ng-click="load={}">Reset</button>
									</div>
								</div>
								<!-- div class="form-group-sm text-danger" ng-show="!(loadProcess.indicator.tncAccepted)">
									<div class="col-md-offset-3 col-md-9">
										<strong>***Please Accept terms to enable login</strong>
									</div>
								</div -->


								<!-- div class="form-group" ng-class="{ 'has-error' : userForm.terms.$invalid && (userForm.terms.$dirty || submitted)}">
                                    <label>Accept Terms & Conditions</label>
                                    <input type="checkbox" value="" name="terms" ng-model="user.terms" ng-required="true" />
                                    <p ng-show="userForm.terms.$error.required && (userForm.terms.$dirty || submitted)" class="help-block">Accept terms & conditions.</p>
                                </div -->

							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- Modal -->
<div class="modal fade" id="tcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Terms and Conditions</h4>
			</div>
			<div class="modal-body">
				Terms & conditions text here
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="manage_load.js"></script>