<div class="page-header" ng-controller="loadListCtrl">
	<div class="bs-docs-section">
		<!-- div class="row">
			<div class="col-lg-12">
				<div class="well bs-component">
					<div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div>
				</div>
			</div>
		</div -->
		<!-- div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">Search Trucks</h1>
				</div>
			</div>
		</div -->
		<div class="panel panel-default">
			<div class="panel-heading">Search Loads</div>
			<div class="panel-body">
				<div class="container">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label for="from">From:</label>
							<input type="text" ng-change="resetSearchCategory()" ng-model="loadPostList.filter.from" class="form-control input-sm" id="from" placeholder="Pickup Place">
						</div>
						<div class="form-group">
							<label for="to">To:</label>
							<input type="text" ng-change="resetSearchCategory()" ng-model="loadPostList.filter.to" class="form-control input-sm" id="to" placeholder="Drop Place">
						</div>

						<div class="form-group">
							<label><input type="radio" ng-change="resetSearchCategory()" ng-model="loadPostList.filter.dateRange" name="optionsRadios" id="optionsRadios1" value=1> On</label>
						</div>
						<div class="form-group">
							<label><input type="radio" ng-change="resetSearchCategory()" ng-model="loadPostList.filter.dateRange" name="optionsRadios" id="optionsRadios2" value=2 selected> After</label>
						</div>
						<div class="form-group" ng-if="loadPostList.filter.dateRange!=null">
							<!-- select class="selectpicker">
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</select -->
							<input class="form-control input-sm" type="text" ng-change="resetSearchCategory()" placeholder="Available Date" id="daterange" name="daterange" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="loadPostList.filter.dt" is-open="opened" datepicker-options="loadPostList.dateOptions" ng-required="true" close-text="Close" />
							<!-- span class="glyphicon error" ng-show="truckListForm.daterange.$error.required">*</span -->
						</div>
						<div class="form-group" ng-if="loadPostList.filter.dateRange!=null">
							<button type="button" ng-click="searchLoads()" class="btn btn-success btn-sm col-md-offset-4" id="search">{{loadPostList.searchButtonName}}</button>
						</div>
						<!-- button type="submit" class="btn btn-default">Submit</button -->
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="bs-docs-section" id="search_list" ng-if="loadPostList.searchTriggered">
		<div class="row">
			<div class="col-lg-12">
				<div class="bs-component">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Load List</h3>
							<!-- div collapse-section></div -->
						</div>
						<div class="panel-body">
							<div id="loadListMessage" ng-show="!loadPostList.listShow">
								<div id="loadlist_alert" ></div>
							</div>
							<div ng-show="loadPostList.listShow" class="gridMaxStyle" ng-grid="loadPostList.gridOptions"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="load.js"></script>